button{
    display: block;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border:none;
    border-radius: 3px;
    padding: 15px 20px;
    background-color: #ef4444;
    font-size: 17px ;
    color: whitesmoke;
    
}

h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    font-size: 50px;
}

p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

button:hover{
    background-color: #b31414;
    cursor: pointer;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 80px;
    font-size: 32px;
    width: fit-content;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
  }

  p {
    font-size: 16px;
    width: fit-content;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;  
  }

  button {
    width: 90%;
    padding: 14px;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
  }
}